* {
  box-sizing: border-box;
  font-family: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  line-height: 1.25rem;
  color: rgb(5, 5, 5);
  background-color: rgb(250, 250, 250);
  max-width: 60ch;
}

html,
body,
div,
header,
nav,
nav > *,
main,
footer {
  max-width: none;
}

h1,
h2,
h3,
a,
p,
span,
em,
strong,
i {
  background-color: transparent;
}

a:visited,
a:active {
  color: rgb(64, 64, 64);
}

a:hover {
  color: rgb(5, 5, 5);
  text-decoration: none;
}

.page {
  padding: 1.5rem;
  min-width: 12rem;
}

.stack {
  --space: 1rem;
}

.stack > * {
  margin: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.cluster {
  --space: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.cluster > * {
  margin: 1rem;
}

.card {
  box-shadow: 0 0 0 1px rgb(250, 250, 250), 0 0 0 3px rgb(5, 5, 5);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 5);
  color: white;
  padding: 0.5rem;
  min-width: 14.25rem;
  max-width: 16rem;
  min-height: 14.25rem;
  max-width: 16rem;
}

.card * {
  display: flex;
  color: white;
}

.sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.sidebar > * > * {
  flex-basis: 0;
  margin: 0.5rem;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

.sidebar > * > :first-child {
  flex-basis: 12rem;
  flex-grow: 1;
  min-width: 0;
}
