* {
  background-color: #f8f9fa;
  border: 0;
  box-sizing: border-box;
  color: #212730;
  font-family: inherit;
  font-family: sans-serif;
  line-height: 1.25rem;
  margin: 0;
  max-width: 60ch;
  overflow-wrap: break-word;
  padding: 0;
}

html,
body,
div,
header,
nav,
nav > *,
main,
footer {
  max-width: none;
}

h1,
h2,
h3,
a,
p,
span,
em,
strong,
i {
  background-color: transparent;
}

a {
  color: #8157d6;
}

a:visited,
a:active {
  color: #4f28a4;
}

a:hover {
  text-decoration: none;
}

.page {
  min-width: 12rem;
  padding: 1.5rem;
}

.stack {
  --space: 1rem;
}

.stack > * {
  margin: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.cluster {
  --space: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.cluster > * {
  margin: 1rem;
}

.card {
  background-color: rgb(5, 5, 5);
  box-shadow: 0 0 0 1px rgb(250, 250, 250), 0 0 0 3px rgb(5, 5, 5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 16rem;
  max-width: 16rem;
  min-height: 14.25rem;
  min-width: 14.25rem;
  padding: 0.5rem;
}

.card * {
  color: white;
  display: flex;
}

.sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.sidebar > * > * {
  flex-basis: 0;
  flex-grow: 999;
  margin: 0.5rem;
  min-width: calc(50% - 1rem);
}

.sidebar > * > :first-child {
  flex-basis: 10rem;
  flex-grow: 1;
  min-width: 0;
}

.underlined {
  border-bottom: 3px solid #9370db;
  padding-bottom: 0.625rem;
}
