.cluster > a > * > h1 {
  text-decoration: underline;
}

.cluster > a:hover > * > h1 {
  text-decoration: none;
}

.cluster > a:visited > * > * {
  color: rgb(191, 191, 191);
}

.cluster > a {
  text-decoration: none;
}
