---
layout: default_layout.njk
title: about me
---
<main>
    <article>
        <p>Howdy. I'm Blake Hair, but most people online know me as <em>Iverum</em>.</p>
        <p>This is my personal website that I put together to have a place to do fun things outside of the pressure of social media or work. I was inspired by lots of other smallweb folks and ideas and wanted to get back into the spirit that got me writing code decades ago (making pet pages on Neopets).</p>
        <p>I don't think there is a good single noun that describes me. Calling yourself a "creative" has some weird vibes, but I enjoy doing creative things. I write software, fiction, and recipes. I occassionally run an RPG campaign.</p>
        <p>Professionally, I'm a software engineer turned manager that works mostly in the healthcare space these days.</p>
        <p>Other than here, you can find me on:</p>
        <ul style="list-style: none; padding: 0;">
            <li>🦋 <a href='https://bsky.app/profile/hairsqua.red'>bluesky</a></li>
            <li>🎬 <a href='https://letterboxd.com/iverum/'>letterboxd</a><br></li>
            <li>🔗 <a href='https://www.linkedin.com/in/blakehair/'>linkedin</a><br></li>
        </ul>
    </article>
</main>
