---
layout: default_layout.njk
title: blogroll - iverum
---
<main>
    <article>
        <p>Here are some other blogs that I think are cool:</p>
        <ul>
            <li><a href="https://jkap.io/">Jae Kaplan</a>, software developer &amp; former CEO of Posting @ Cohost</li>
            <li><a href="https://jamesg.blog/">James' Coffee Blog</a>, run by James, writer &amp; art history student</li>
            <li><a href="https://joelhooks.com/">Joel Hooks</a>, software developer</li>
            <li><a href="https://jvns.ca/">Julia Evans</a>, software developer</li>
            <li><a href="https://blog.dante.cool/">videodante</a>, run by Dante Douglas, writer &amp; gamedev</li>
        </ul>
    </article>
</main>