---
layout: default_layout.njk
---
<style>
    section>p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
</style>
<main>
    <article>
        <p>Hi there!</p>
        <p>My name is Blake Hair. I am a software developer and hobbyist modeler.</p>
        <p>This is my web log where I put notes and writing about things I'm working on or interested in. I don't have a
            good idea of what this will end up looking like, so bear with me as I figure it out.</p>
        <section>
            <p>To see some blogs I think are neat, check out my <a href="/blogroll">blogroll</a>.</p>
            <p>To learn more about me, check out my <a href="/about">about</a> page.</p>
            <p>To see what I'm doing right now, check out my <a href="/now">now</a> page.</p>
        </section>
        <p>You can find me elsewhere on the internet, generally using the name <em>Iverum</em>. <a
                href="https://bsky.app/profile/hairsqua.red">Bluesky</a> or <a
                href="https://letterboxd.com/iverum/">Letterboxd</a> are probably where you're most likely to see
            something interesting.</p>
    </article>
</main>
