---
layout: default_layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: Tagged "{{ tag }}"
---
<ul class="posts">
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
       <li>
            <div>
                <a href="{{ post.page.url }}">
                    {{ post.data.title }}
                </a>
                <p>published <time datetime="{{ post.data.date | dateISO }}">{{ post.data.date | dateISO }}</time>
                </p>
            </div>
        </li>
    {% endfor %}
</ul>