<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../bower_components/polymer-slideshow/polymer-slideshow.html">

<polymer-element name="project-overlay" attributes="opened project">
    <template>
        <style>
            :host {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                font-size: 13px;
                -webkit-user-select: none;
                -moz-user-select: none;
                overflow: hidden;
                background: white;
                padding: 30px 42px;
                outline: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
                width: 85%
            }

            :host img {
                margin: 10px;
            }

            :host .project-description {
                padding: 0 20px;
            }

            :host .project-description div {
                padding: 0 20px;
            }
        </style>
        <core-overlay id="overlay" backdrop layered opened="{{opened}}"
                      transition="core-transition-center"></core-overlay>
        <h2>{{project.name}}</h2>

        <div layout horizontal>

            <template if="{{project.images.length > 0}}">
                <polymer-slideshow width="248" height="500">
                    <template repeat="{{image in project.images}}">
                        <img src="{{image}}"/>
                    </template>
                </polymer-slideshow>
            </template>
            <div class="project-description" flex>
                <p>{{project.description}}</p>

                <template if="{{project.bullets.length > 0 || project.technologies.length > 0}}">
                    <div layout horizontal>
                        <template if="{{project.bullets.length > 0}}">
                            <div flex>
                                <h3>Points of Interest</h3>
                                <ul>
                                    <template repeat="{{bullet in project.bullets}}">
                                        <li>{{bullet}}</li>
                                    </template>
                                </ul>
                            </div>
                        </template>
                        <template if="{{project.technologies.length > 0}}">
                            <div flex>
                                <h3>Technologies</h3>
                                <ul>
                                    <template repeat="{{bullet in project.technologies}}">
                                        <li>{{bullet}}</li>
                                    </template>
                                </ul>
                            </div>
                        </template>
                    </div>
                </template>
            </div>

        </div>
    </template>
    <script>
        Polymer({
            ready: function () {
                this.$.overlay.target = this;
            },
            toggle: function () {
                this.$.overlay.toggle();
            }
        });
    </script>
</polymer-element>