<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="project-card">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                padding: 20px;
                width: 40%;
                font-size: 1.2rem;
                font-weight: 300;
            }

            :host paper-shadow {
                background-color: white;
                height: 100%;
            }

            .card-content {
                background-color: white;
                padding: 20px;
            }

            .card-header {
                margin-bottom: 10px;
            }

            polyfill-next-selector {
                content: '.card-header h2';
            }

            .card-header ::content h2 {
                margin: 0;
                font-size: 1.8rem;
                font-weight: 400;
            }

            polyfill-next-selector {
                content: '.card-header img';
            }

            .card-header ::content img {
                width: 70px;
                margin: 10px;
            }
        </style>
        <paper-shadow>
            <div class="card-content" layout vertical flex>
                <div class="card-header" layout horizontal center>
                    <content select="img"></content>
                    <content select="h2"></content>
                </div>

                <content></content>
            </div>
        </paper-shadow>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>