<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="project-service.html">
<link rel="import" href="project-card.html">
<link rel="import" href="project-overlay.html">

<polymer-element name="project-list">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
            }

            project-card {
                float: left;
                height: 250px;
                margin: 10px 30px 10px 30px;
            }
        </style>

        <project-service id="service" projects="{{projects}}"></project-service>


        <div id="projectList" flex>
            <template repeat="{{project in projects}}">
                <project-card on-tap="{{showOverlay}}" project-id="{{project.uid}}">
                    <img src="{{project.icon}}" height="70" width="70">

                    <h2>{{project.name}}</h2>

                    <div>
                        <p>{{project.blurb}}</p>

                        <div class="project-links" layout horizontal reverse>
                            <template repeat="{{link in project.links}}" if="{{project.links.length > 0}}">
                                <a style="margin:0 10px; text-decoration: none;" href="{{link.href}}">{{link.text}}</a>
                            </template>
                        </div>
                    </div>
                </project-card>
                <project-overlay backdrop layered id="project-{{project.uid}}" project="{{project}}"></project-overlay>
            </template>
        </div>

    </template>
    <script>
        Polymer({
            showOverlay: function (e) {
                var selector = '#project-' + e.target.getAttribute('project-id');
                this.$.projectList.querySelector(selector).toggle();
            }
        });
    </script>
</polymer-element>