body {
  background-color: rgb(255, 255, 244);
  font-size: 1.2rem;
  margin-top: 64px;
  padding: 0 80px;
}

h1 {
  margin-top: 0;
  line-height: 1;
}

a {
  color: #8A00C4;
}

a:visited {
  color: #520075;
}

header {
  left: 32px;
  position: fixed;
}

.iverum-eye {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

main {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  width: 62ch;
}
