body {
  background-color: rgb(255, 255, 244);
  font-size: 1.2rem;
  margin-top: 46px;
  padding: 0 80px;
}

h1 {
  margin-top: 0;
  line-height: 1;
}

a {
  color: oklch(49.39% 0.215 298.31);
}

a:visited {
  color: oklch(42.77% 0.181 298.49);
}

header {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  gap: 1em;
  position: relative;
  left: -20px;

  h1 {
    margin: 0;
    margin-left: 0.5em;
  }

  .iverum-eye {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: fixed;
    left: 32.5px;
    top: 75px;
  }

  nav {
    margin-left: 1em;

    ul {
      gap: 1em;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

main {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  max-width: 62ch;
  padding-bottom: 4rem;
}

ul.posts {
  li>div {
    display: flex;
    align-items: baseline;
    gap: 1rem;

    p {
      color: #6c6c6c;
      font-size: 0.9rem;
    }
  }
}

.project-pane {
  background: oklch(95.57% 0.003 286.35);
  padding: 1rem 2rem;
  border: 3px solid oklch(68.5% 0.136 303.78);
  border-radius: 15px;

  .progress-bar-background {
    height: 15px;
    margin: -1rem -2rem;
    background: oklch(78.68% 0.091 305);
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
  }

  .progress-bar {
    height: 15px;
    margin: -1rem -2rem;
    background: oklch(49.39% 0.215 298.31);
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
  }

  ul {
    list-style: none;
    padding: 1rem 1rem 0;
  }

  li::before {
    content: "🔲";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin: 0.4rem 0.4rem 0.4rem -1em;
  }

  li.done::before {
    content: "✅";
  }

  li.progress::before {
    content: "🖊";
  }
}